_misc
.dockerignore
.env
.git
.gitignore
.pytest_cache
.vscode
**/__pycache__
**/__pycache__
**/.buildozer
**/.image_cache
**/*.db
**/*.log
**/*.prettierrc
**/appsettings.json
**/dist
**/instance
**/logs
**/logs
**/node_modules
**/p2ptest
docker-compose.yml
Dockerfile
env
venv
