__pycache__
!.vscode/launch.json
!.vscode/tasks.json
!aldi_products_by_category.json
.DS_Store
.env
.env.local*
data/.secret_key
.idea
.image_cache
.quasar
.thumbs.db
.venv
.vscode
.vscode/*
*.cjs
*.local
*.log
*.njsproj
*.ntvs*
*.prettierrc
*.sln
*.suo
*.sw?
**/__pycache__
**/.buildozer
**/*.db
**/appsettings.json
**/bin
**/logs
*appsettings.json
/cypress/screenshots/
/cypress/videos/
/dist
/quasar.config.*.temporary.compiled*
/src-capacitor/node_modules
/src-capacitor/www
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
coverage
dist
dist-ssr
web_app_old/.vscode/*
web_app/.vscode/*
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
venv
yarn-debug.log*
yarn-error.log*
