.dora-display-inline { display: inline; }
.dora-display-inlineBlock { display: inline-block; }
.dora-flex-1 { flex: 1; }
.dora-marginBottom-0 { margin-bottom: 0; }
.dora-marginLeft-15 { margin-left: 15px; }
.dora-marginTop-5 { margin-top: 5px; }
